.history
.vscode
.cache
curves
OUTPUT
DATASET
OUTPUT*
RESULT*
image_synthesis.egg-info
data/celeba-hq
data/celeba
data/imagenet-depth
data/tophost-art
data/tophost-portrait
data/ffhq
data/irregular-mask
data/imagenet
data/captions
data/places365
data/naturalscene
data/cub-200-2011
data/flowers102
data/multi-modal-celeba-hq
data/conceptualcaption
data/world_frequency
data/fid_statics
data/deepfashion
data/inpainting-image-mask
data/tophost-portrait_retinaface_results_940909.json
image_synthesis/modeling/modules/sparse_matmul/build
image_synthesis/modeling/modules/sparse_matmul/*.egg-info
image_synthesis/modeling/modules/sparse_matmul/*.so
data/Lu Yuan.jpg
**/__pycache__
train_codec.py
train_dalle.py
scripts/inference_bk.py
**.pth